@model FlightBooking.Models.FlightSearchViewModel

@{
    ViewData["Title"] = "Flight Search";
}

<h1>Flight Search using Api</h1>

<form asp-action="FlightSearchApi" method="post">
    <div class="form-group">
        <label for="sourceAirportId">Source Airport:</label>
        <select asp-for="SourceAirportId" class="form-control" asp-items="@ViewBag.Aports"></select>
    </div>

    <div class="form-group" style="margin-bottom: 30px;">
        <label for="destinationAirportId">Destination Airport:</label>
        <select asp-for="DestinationAirportId" class="form-control" asp-items="@ViewBag.Aports"></select>
    </div>

    <button type="submit" class="btn btn-primary">Search Flights with Api</button>
</form>
