<h1>
    No Bookings Found!!
</h1>
<h4>No bookings were found for your request!!</h4>
<div style="margin-top: 10px;">
        <a asp-controller="Passenger" asp-action="AddPassengers" class="btn btn-success">Book a flight</a>
</div>
<p></p>
<div style="margin-top: 10px;">
        <a asp-controller="Home" asp-action="Lego" class="btn btn-success">Back to Menu</a>
    </div>